@use 'styles/colors' as colors;
@use 'styles/ui' as ui;

.button-container {
  display: flex;
  justify-content: center;
  border-radius: ui.$radius;
  background-color: colors.$primary;
  border: 3px solid transparent;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 colors.$shadowAmount colors.$shadow;
  border: 2px solid transparent;
  padding: 0 5px;
  box-sizing: border-box;
  transition: all ui.$durationFast;
  user-select: none;
  text-align: center;

  &:hover {box-shadow: 0 0 colors.$shadowAmount colors.$shadowHover;}
}

.button-container.no-shadow {
  box-shadow: 0 0 colors.$shadowAmount transparent;

  &:hover {box-shadow: 0 0 colors.$shadowAmount transparent;}
}

.button-container.full-width {width: 100%;}

.button-container.disabled {
  background-color: colors.$disabled2;
  color: colors.$disabled1;
  cursor: not-allowed;
}