@use 'styles/ui' as ui;
@use 'styles/colors' as colors;

#track-controller-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  #infos {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: calc(ui.$margin / 2);

    #cover {
      min-width: 250px;
      width: 20vw;
      border-radius: ui.$radius;
      border: 2px solid black;
      box-sizing: border-box;
    }

    #artist-text {font-weight: bold;}
  }

  #audio-player {
    filter: drop-shadow(0px 0px colors.$shadowAmount colors.$shadow);
  }

  .right-icon {transform: rotate(180deg);}
}