$background: #C7C7C7;
$primary: #1DB954;
$secondary: white;

$text: black;
$textBis: white;

$cloudy: #C7C7C7CC;

$shadowHover: #1DB954;
$shadow: black;
$shadowAmount: 7px;

$disabled1: grey;
$disabled2: lightgrey;