@use 'styles/colors' as colors;
@use 'styles/ui' as ui;

.spinner-container {
  height: 25px;
  width: 25px;
  border: 10px solid transparent;
  border-radius: 50%;
  animation: loading 1s ease infinite;
  border-top-color: colors.$text;
  border-bottom-color: colors.$text;

  @keyframes loading {to {transform: rotate(1turn);}}
}

.spinner-container.small {
  height: 15px;
  width: 15px;
  border-width: 3px;
}

.spinner-container.medium {
  height: 60px;
  width: 60px;
  border-width: 5px;
}

.spinner-container.large {
  height: 120px;
  width: 120px;
  border-width: 8px;
}

.spinner-container.inverted {
  border-top-color: colors.$textBis;
  border-bottom-color: colors.$textBis;
}