@use 'styles/ui' as ui;

#playlists-scroller-container {
  background-color: red;
  width: 100vw;
  display: flex;
  align-items: center;
  gap: ui.$margin;
  padding: ui.$padding;
  box-sizing: border-box;
}