@use 'styles/colors' as colors;
@use 'styles/ui' as ui;

.icon-container {
  filter: drop-shadow(0 0 colors.$shadowAmount colors.$shadow);
  transition: filter ui.$durationFast;
}

.icon-container.clickable {
  cursor: pointer;

  &:hover {
    filter: drop-shadow(0 0 colors.$shadowAmount colors.$shadowHover);
  }
}

.icon-container.disabled {
  cursor: not-allowed;
  filter: drop-shadow(0 0 0 transparent);

  &:hover {
    filter: drop-shadow(0 0 0 transparent);
  }
}