@use 'styles/ui' as ui;
@use 'styles/colors' as colors;

.playlist-card-container {
  background-color: colors.$primary;
  border-radius: ui.$radius;
  display: flex;
  align-items: center;
  gap: ui.$margin;
  padding-right: ui.$padding;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 2);
  box-sizing: border-box;
  cursor: pointer;
  transition: all ui.$durationFast;
  user-select: none;
  // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &:active {transform: scale(.95);}

  .name {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }

  img {
    border-radius: ui.$radius 0 0 ui.$radius;
    width: 90px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

.playlist-card-container.hover {}