@use 'styles/ui' as ui;
@use 'styles/colors' as colors;

.playlist-card-container {
  position: relative;
  height: 65px;
  background-color: colors.$primary;
  border-radius: ui.$radius;
  display: flex;
  align-items: center;
  gap: ui.$margin;
  padding-right: ui.$padding;
  border: 2px solid colors.$text;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 0 colors.$shadowAmount colors.$shadow;
  transition: box-shadow ui.$durationFast;

  &:hover {box-shadow: 0 0 colors.$shadowAmount colors.$shadowHover;}

  .add-spinner {
    position: absolute;
    top: 2px;
    right: 2px;
  }

  .close-icon {
    position: absolute;
    top: 2px;
    right: 2px;
    height: 18px;
  }

  .text {
    width: 100%;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .text.padding-left {padding-left: ui.$padding;}

  .album-cover {
    height: 100%;
    aspect-ratio: 1/1;
    filter: grayscale(100%);
    border-radius: calc(ui.$radius / 2) 0 0 calc(ui.$radius / 2);
    transition: filter ui.$durationFast;
  }

  .empty-label {
    display: flex;
    justify-content: center;
  }
}

.playlist-card-container.full-width {
  max-width: 100%;
  width: 100%;

  .text {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
  }
}

.playlist-card-container.empty {padding-left: ui.$padding;}

.playlist-card-container.colored {.album-cover {filter: grayscale(0%);}}