@use 'styles/ui' as ui;

#playlist-picker-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: ui.$padding;
  box-sizing: border-box;
  gap: ui.$margin;
  overflow-y: scroll;
}