@use 'styles/ui' as ui;

#home-page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: ui.$margin;

  #playlist-modal-btns {
    width: 100%;
    display: flex;
    align-items: center;
    gap: ui.$margin;

    > * {
      flex: 1;
    }
  }

  #playlists {
    max-width: 100vw;
    display: flex;
    align-items: center;
    padding: ui.$padding;
    padding-top: 0;
    box-sizing: border-box;
    gap: ui.$margin;
    overflow-x: scroll;

    &::-webkit-scrollbar-track {
      border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0px;
    }
  }
}