@use 'styles/ui' as ui;

#home-page-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  #sort-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: ui.$margin;
    margin-top: ui.$margin;
    box-sizing: border-box;

    #sort-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: ui.$margin;
      margin-bottom: ui.$margin;
      box-sizing: border-box;

      #data-control {
        display: flex;
        align-items: center;
        gap: calc(ui.$margin / 2);

        #progress {font-weight: bold;}

        #right-arrow {transform: rotate(180deg);}
      }
    }
  }
}