@use 'styles/colors.scss' as colors;

#router-container {
  width: 100vw;
  height: 100vh;
  color: colors.$text;
  font-size: calc(15px + 0.390625vw);
  background-color: colors.$background;
  text-shadow: 0 0 colors.$shadowAmount colors.$shadow;

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: black;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: colors.$primary;
    border-radius: 10px;
  }

  ::selection {
    background-color: colors.$primary;
    color: colors.$textBis;
  }
}